<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    Contact the Author on Github about the Petrochemical Corrosion app at the
    <a href="https://github.com/windkidtrh/design.git">contact page</a>.
</p>