<% provide(:title, "Edit user") %>
<% if current_user?(@user)  %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form' %>
        
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>
<% else %>
    <h1>不好意思，你不是当前用户</h1>
<% end %>