<footer class="footer">
    <small>
       <a href="http://127.0.0.1:3000/static_pages/home/">本系统</a>
        由 <a href="https://github.com/windkidtrh">谭锐华</a> 完成
    </small>
    <nav>
    <ul>
        <li><%= link_to "关于",   about_path  %></li>
        <li><%= link_to "联系我们", contact_path  %></li>
        <li><a href="http://news.railstutorial.org/">新闻</a></li>
    </ul>
    </nav>
</footer>